<app-header>
  <div class="container mt-4">
    <div class="row d-flex justify-content-center ">
      <div class="col-md-8 col-lg-6 col-xl-6">
        <div class="reg">
          <div class="register-data">
            <p> ONline trainings ON a whole new level...!
              This year we're going in full swing, we're going online.
              Enjoy our E-training sessions and don't miss the chance of
              winning huge prizes!</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#lenovo-video">
              Lenovo Transforming Workplaces
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="activity-c">
        <h1><strong>Training</strong></h1>
    </div>
</div>
<div class="container mt-4">
  <div class="row d-flex justify-content-center ">
      <div class="col-xl-6 col-lg-6 col-sm-6 col-12">
          <div class="reg">
              <div class="register-data">
                  <a class="btn btn-orange answer-btn mb-3"  target="_blank">Introduction to Lenovo Products for SMB</a>
                  <a class="btn btn-orange answer-btn mb-3"  target="_blank">ThinkBook Portfolio</a>
                  <a class="btn btn-orange answer-btn mb-3"  target="_blank">Workstation P Series Portfolio</a>
                  <a class="btn btn-orange answer-btn mb-3"  target="_blank">What is ThinkShield?</a>
                  <a class="btn btn-orange answer-btn mb-3"  target="_blank">Introduction to the Nano IoT</a>
              </div>
          </div>
      </div>
  </div>
</div>
</app-header>
