.btn-danger {
  background-color: #fb0000;
  border-color: #fb0000;
}
.activity-c {
  background-color: #fff;
  color: #000;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 100px;
}
.col-12{
  padding: 0;
}
.answer-btn {
  width: 100%;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-orange {
  background-color: #fb0000;
  border-color: #fb0000;
  color: #fff;
  font-weight: 500;
}
