.content {
  background-color: #272727;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
  text-align: left;
  font-weight: 100;
  .btn-orange {
    background-color: #fb0000;
    border-color: #fb0000;
    color: #fff;
    font-weight: 500;
}
}
