<app-header>
  <div class="row no-gutters d-flex justify-content-center ">
    <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="content">
            <div class="d-flex justify-content-between">
                <h3 class=""><strong>My Accont</strong></h3>
                <a class="btn btn-orange pr-1 pl-1 rounded-0" routerLink="editaccount">Edit My Account</a>
            </div>
            <br>
            <div >
            <p>Name : <span> {{name}}</span></p>
            <hr>
            <p>Email Address : <span>{{email}}</span></p>
            <hr>
            <p>Score : <span> {{score}}</span></p>
            <hr>
            <p>Company : <span>{{company}}</span></p>
            <hr>
            <p>City : <span>{{country}}</span></p>
            <hr>
            <p>Title : <span>{{title}}</span></p>
            <hr>
            <p>Phone : <span>{{phone}}</span></p>
            </div>
          </div>
    </div>
  </div>
</app-header>
