<div class="header-content">
  <div class="header">
    <div class="col-sm-6 col-lg-6 col-12">
      <div class="left-data pt-4 pl-4">
          <a >
              <h1><strong>Think Smarter</strong></h1>
          </a>
      </div>
  </div>
    <div class="lenovo pt-4">
      <h4 class=" text-right">
        <strong>Smarter</strong>
         <br>
        <strong>technology</strong>
        <br>
        <strong>for all</strong>
      </h4>
      <img src="../../assets/images/lenovo.png">
    </div>
  </div>
  <ng-content></ng-content>
  <div class="header-footer">
    <img src="http://ramadan-iftar.cat-sw.com/assets/site/images/windowslogo.png">
  </div>
</div>
